*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    padding: 24px;
    background-color: #F9FAFB;
    padding-bottom: 35px;
}
section{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img{
    position: fixed;
    height: 2.5rem;
}

.div1{
    align-self: center;
    padding: 0 30px;
    width: 490px;
    height: 450px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    background-color: white;
}

h1{
    font-size: 23px;
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    color: #111827;
}

.p1{
    margin-top: 5px;
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    color: #47494D;
}
form{
    margin-top: 20px;
}
input{
    width: 100%;
    height: 45px;
    border: 1px solid #D1D5DB;
    margin-bottom: 15px;
    border-radius: 5px;
}
label{
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    color: #47494D;
}

.p2{
    float: right;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #47494D;
    margin-top: 5px;
}
.div3{
    clear: right;
    border-radius: 25px;
    background-color:#20938D;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.div3:hover{
    background: #20938de0;
;
}

.div4{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p3{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
}

a{
    color: #20938D; 
}
u{
    font-weight: 700;
}

.p4{
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #47494D;
}

.p5{
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    color: #47494D;
}